@font-face {
  font-family: 'Space Grotesk Bold';
  src: url(/assets/fonts/static/SpaceGrotesk-Bold.ttf);
}

@font-face {
  font-family: 'Space Grotesk Medium';
  src: url(/assets/fonts/static/SpaceGrotesk-Medium.ttf);
}

@font-face {
  font-family: 'Space Grotesk Variable';
  src: url(/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

:root {
  --clr-neutral-200: #151515;
  --clr-neutral-300: #242424;
  --clr-neutral-800: #d9d9d9;
  --clr-neutral-900: #ffffff;

  --clr-accent-600: #4ee1a0;

  --ff-heading: 'Space Grotesk Bold', sans-serif;
  --ff-body: 'Space Grotesk Medium', sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;

  --fs-400: 1.125rem;
  --fs-300: 1.5rem;
  --fs-200: 3rem;
  --fs-100: 5.5rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Styling */

html {
  background-color: var(--clr-neutral-200);
  overflow-x: hidden;
}

body {
font-family: var(--ff-body);
font-size: var(--fs-400);
font-weight: var(--fw-400);
color: var(--clr-neutral-900);
padding: 1rem;
position: relative;
}

.hero-banner {
  display: grid;
  justify-items: center;
  gap: 1.25rem;
  width: fit-content;
  margin-inline: auto;
  position: relative;
}

.navigation {
  display: grid;
  justify-content: center;
  gap: 1.25rem;
  text-align: center;
}

.navigation .logo {
  font-family: var(--ff-heading);
  font-weight: var(--fw-700);
  font-size: var(--fs-300);
}

.navigation .logo a {
  text-decoration: none;
}

.profile-pic {
  width: 174px;
  position: relative;
}

.social-links {
  display: flex;
  gap: 1.25rem;
}

.hero-banner .background-element {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(var(--clr-neutral-200), var(--clr-neutral-300));
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.hero-images .rings {
  height: 129px;
  width: 530px;
  position: absolute;
  top: 8rem;
  right: 50%;
  z-index: -1;
}

.hero-images .circle {
  position: absolute;
  top: 16.5rem;
  right: -5rem;
}

.hero-text {
  margin: 1rem auto;
  text-align: center;
  display: grid;
  gap: 1.25rem;
}

.hero-text .title {
  font-family: var(--ff-heading);
  font-weight: var(--fw-500);
}

.hero-text .title span {
  text-decoration: underline;
  text-decoration-color: var(--clr-accent-600);
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.25rem;
}

.hero-text .description {
  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  font-size: 1rem;
}

.hero-text .contact-me {
  font-family: var(--ff-heading);
  font-weight: var(--fw-500);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2.29px;
  color: var(--clr-neutral-900);
  text-decoration-color: var(--clr-accent-600);
  text-underline-offset: 0.625rem;
  text-decoration-thickness: 0.125rem;
}

.experience {
  margin: 5rem auto;
  border-top: var(--clr-neutral-900) 1px solid;
  border-bottom: var(--clr-neutral-900) 1px solid;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  text-align: center;
}

.experience .title {
  font-family: var(--ff-heading);
  font-weight: var(--fw-700);
  font-size: 2rem;
}

.experience .description {
  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  font-size: 1.125rem;
  line-height: 1.5;
}